{
  "presets": ["next/babel"],
  "plugins": [],
  "assumptions": {
    "setPublicClassFields": false
  },
  "env": {
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "preset-react": {
              "runtime": "classic",
              "pragma": "React.createElement"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "preset-react": {
              "runtime": "classic",
              "pragma": "React.createElement"
            }
          }
        ]
      ]
    }
  }
}
