.eventpayment-support-request-form {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px; // Add some padding inside the form for better visual spacing
    border-radius: 8px; // Optional: add border-radius if you want rounded corners
    background-color: #fff; // Ensure the form background is solid so the shadow is visible
  }
  